In [2]:
import pandas as pd
import matplotlib.pyplot as plt

#carregar a base
df = pd.read_excel(r"BaseFuncionarios.xlsx")

df.head()

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8
1,102,ADRIANO,SOUZA,M,1993-12-09,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-12-05,NaT,1635,500,225,Estagiário,Marketing,57,7.3
2,342,ALFREDO,ARAUJO,M,1986-08-14,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-04-02,NaT,11153,750,300,Coordenador,Marketing,70,8.7
3,320,ALINE,SILVA,F,1976-06-22,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2015-08-13,2021-08-12,898,500,200,Estagiário,Operações,174,7.4
4,88,ALINE,SOUZA,F,1981-09-04,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2020-03-29,NaT,18878,500,225,Gerente,Administrativo,132,8.3

In [3]:
df['Data de Contratacao'] = pd.to_datetime(df['Data de Contratacao'])
df['Data de Demissao'] = pd.to_datetime(df['Data de Demissao'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID RH                     206 non-null    int64
 1   Nome                      206 non-null    object
 2   Sobrenome                 206 non-null    object
 3   Genero                    206 non-null    object
 4   Data de Nascimento        206 non-null    datetime64[ns]
 5   Endereço                  206 non-null    object
 6   Data de Contratacao       206 non-null    datetime64[ns]
 7   Data de Demissao          51 non-null     datetime64[ns]
 8   Salario                   206 non-null    int64
 9   VR                        206 non-null    int64
 10  VT                        206 non-null    int64
 11  Cargo                     206 non-null    object
 12  Área                      206 non-null    object
 13  Horas Extras              206 non-null    int64
 14  Avaliação do Funcionário  206 non-null    float64
dtypes: datetime64[ns](3), float64(1), int64(5), object(6)
memory usage: 24.3+ KB

In [6]:
df['Status'] = df['Data de Demissao'].isna().map({True: 'Ativo', False: 'Demitido'})

df["Status"].value_counts()

Status
Ativo       155
Demitido     51
Name: count, dtype: int64

In [7]:
total_ativos = df[ df['Status']=="Ativo"].shape[0]
total_demitidos = df[ df['Status']=="Demitido"].shape[0]
print(total_ativos)
print(total_demitidos)

155
51

In [14]:
total_contratacoes = df["Data de Contratacao"].notna()
print(total_contratacoes)

0      True
1      True
2      True
3      True
4      True
       ...
201    True
202    True
203    True
204    True
205    True
Name: Data de Contratacao, Length: 206, dtype: bool

In [19]:
df["Folha Salarial"] = df['Salario'] + df['VT'] + df['VR']
total_folha = df[df['Status']=='Ativo']['Folha Salarial'].sum()
print(total_folha)
#outra forma
folha_salarial =  (df['Salario'] + df['VT'] + df['VR'])[df['Status']=='Ativo'].sum()
print(folha_salarial)

1487553
1487553

In [8]:
df['Genero'].value_counts()

Genero
M    106
F    100
Name: count, dtype: int64

In [9]:
df

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário,Status
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8,Ativo
1,102,ADRIANO,SOUZA,M,1993-12-09,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-12-05,NaT,1635,500,225,Estagiário,Marketing,57,7.3,Ativo
2,342,ALFREDO,ARAUJO,M,1986-08-14,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-04-02,NaT,11153,750,300,Coordenador,Marketing,70,8.7,Ativo
3,320,ALINE,SILVA,F,1976-06-22,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2015-08-13,2021-08-12,898,500,200,Estagiário,Operações,174,7.4,Demitido
4,88,ALINE,SOUZA,F,1981-09-04,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2020-03-29,NaT,18878,500,225,Gerente,Administrativo,132,8.3,Ativo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,439,VITOR,SILVEIRA,M,1984-03-23,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2017-11-01,NaT,4731,750,200,Analista,Logística,194,7.9,Ativo
202,34,VITOR,MAGLHÃES,M,1995-07-23,"Av. São João, 2200 - Jardim das Colinas, São J...",2022-08-25,NaT,17685,600,250,Gerente,Operações,34,9.4,Ativo
203,464,WESLEY,TEIXEIRA,M,1997-11-21,"Av. São João, 2200 - Jardim das Colinas, São J...",2015-11-17,2017-11-16,1612,750,300,Estagiário,Logística,83,8.7,Demitido
204,514,YAGO,OLIVEIRA,M,1982-08-31,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2022-10-01,NaT,1062,700,250,Estagiário,Comercial,205,8.2,Ativo
205,163,YASMINI,RICHA,F,1979-02-25,"R. do Ósmio, 699 - Vila Mollon IV, Santa Bárba...",2022-08-07,NaT,13962,750,200,Coordenador,Logística,113,7.8,Ativo

In [10]:
df['Data de Contratacao'].dt.to_period('M')

0      2015-04
1      2020-12
2      2020-04
3      2015-08
4      2020-03
        ...
201    2017-11
202    2022-08
203    2015-11
204    2022-10
205    2022-08
Name: Data de Contratacao, Length: 206, dtype: period[M]